# frontend/.env
VITE_CATALYST_PROJECT_ID=47756000000013047
VITE_CATALYST_BASE_URL=https://ksp-crimint-60073493322.development.catalystserverless.in
VITE_FUNCTION_NAME=ksp_crimint_function
ZIA_AUTOML_MODEL_ID=47756000000112253